.component_goods_item {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.component_goods_item img {
    width: 200px;
    height: 200px;
    border: solid 3px burlywood;
    border-radius: 20%;
}

.component_goods_item .text_group {
    margin-left: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    color: #666666;
}

.component_goods_item .label {
    color: #999999;
}
